html {
    font-size: medium;
    font-family: "Comic Neue", system-ui;
}

body {
    background-image: url(/Users/moon4/Documents/html-projetos/daisy-days/midia/background.jpg);
  }

.box {
  width: 1200px;
  margin: 90px auto 0px auto;
  border: 2px solid black;
  border-bottom: none;
  background-color: white;
}

a:hover {
    text-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.500);
}

.header {
    width: 100%;
    border: 2px solid black;
    background: linear-gradient(0deg, rgba(248,255,119,1) 0%, 
    rgba(254,255,237,1) 100%);
}

a.header {
    text-align: center;
    font-size: larger;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
    color: black;
}

div.square {
    width: 260px;
    margin: 10px 0px 10px 0px;
    background-color: #ebf8f9;
    position: relative; top: 38px;
}

h1.square {
    margin: -10px 0px -5px 0px;
    text-align: center;
}

p.square {
    margin: 15px 30px 0px 25px;
    font-size: large;
}

img.square {
    margin: 15px 30px 15px 25px;
}

div.post {
    width: 780px;
    border: 2px solid #ff5e9d;
    background-color: #fff6f8;
    padding: 0px 20px 20px 20px;
    position: relative; top: -450px; left: 320px;
}

p.post-date {
    text-align: right;
    position: relative; top: -45px;
}

h3.player {
    text-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.500);
    color: white;
    position: relative; top: -870px; right: 20px;
    text-align: right;
}